#header {
    height: 150px;
    width: 800px;
    background: #000dff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav {
    height: 100px;
    width: 800px;
    background: #00ffbb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-row {
    display: flex;
    flex-direction: row;
}
.main {
    height: 450px;
    width: 600px;
    background: #5500ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside {
    height: 450px;
    width: 200px;
    background: rgba(140, 0, 255, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    height: 100px;
    width: 800px;
    background: #10168a;
    display: flex;
    justify-content: center;
    align-items: center;
}