#widgets {
    height: 150px;
    width: 320px;
    background: rgba(94, 0, 255, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.container2 {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.sm_blocks {
    height: 100px;
    width: 100px;
    background: #00f7ff;
    display: flex;
   justify-content: center;
    align-items: center;
}
#contacts {
    height: 300px;
    width: 320px;
    background: #000dff;
    display: flex;
    justify-content: center;
    align-items: center;
}