body {
    margin: 15px 20px;
}
.target {
    width: 300px;
    min-height: 300px;
    max-height: 800px;
    background: darkblue;
    color: aqua;
    padding: 20px;
    border: 10px solid purple;
    border-radius: 50px;
    box-sizing: border-box;
}

img {
    width: 100%;
}