.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.header {
    width: 420px;
    background: aquamarine;
}
.container-row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.container-column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.menu {
    height: 420px;
    width: 100px;
    background: hotpink;
}
.post {
    height: 200px;
    width: 300px;
    background: blue;
}
.footer {
    width: 420px;
    background: greenyellow;
}
.alm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hgt {
    height: 100px;
}